### Pandas in reaL Life

--> demo.py adında bir python sayfasına yazdı hoca kodlarını.

In [1]:
import pandas as pd

In [2]:
# Önemli iki tane kavram vardır : 
#   Series (Tek boyutlu diziler)
#   DataFrame (Tablolar)

In [3]:
dailySales = pd.Series([1500, 2500, 3500, 200, 1500, 1000, 6000])
print(dailySales)

0    1500
1    2500
2    3500
3     200
4    1500
5    1000
6    6000
dtype: int64

In [5]:
print('Index: ', dailySales.index)

Index:  RangeIndex(start=0, stop=7, step=1)

In [6]:
print('Values: ', dailySales.values)

Values:  [1500 2500 3500  200 1500 1000 6000]

In [10]:
print('Mean: ', dailySales.mean())

Mean:  2314.285714285714

In [11]:
print('Max: ', dailySales.max())

Max:  6000

In [12]:
print('Min: ', dailySales.min())

Min:  200

In [14]:
days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
dailySales2 = pd.Series([1500, 2500, 3500, 200, 1500, 1000, 6000], index=days)

In [15]:
print(dailySales2['Thursday'])

200

In [16]:
'''
Sql
Api
SalesData = getSales('http://turkcell.com.tr/pasaj/sales', 'get')
'''
salesData = {
    'ProductName': ['Elma', 'Üzüm', 'İncir', 'Armut', 'Portakal', 'Elma', 'Elma'],
    'Price': [200, 300, 540, 780, 360, 420, 730],
    'QuantitySold': [20, 3, 25, 28, 46, 12, 14]
}

In [17]:
df = pd.DataFrame(salesData)
print(df)

  ProductName  Price  QuantitySold
0        Elma    200            20
1        Üzüm    300             3
2       İncir    540            25
3       Armut    780            28
4    Portakal    360            46
5        Elma    420            12
6        Elma    730            14

In [18]:
print(df.iloc[2])

ProductName     İncir
Price             540
QuantitySold       25
Name: 2, dtype: object

In [20]:
print(df.loc[df['ProductName']=='Elma'])

  ProductName  Price  QuantitySold
0        Elma    200            20
5        Elma    420            12
6        Elma    730            14

In [21]:
bestSales = df[df['QuantitySold']>15]

In [22]:
print(bestSales)

  ProductName  Price  QuantitySold
0        Elma    200            20
2       İncir    540            25
3       Armut    780            28
4    Portakal    360            46

In [23]:
df['TotalIncome'] = df['Price']*df['QuantitySold']
print(df)

  ProductName  Price  QuantitySold  TotalIncome
0        Elma    200            20         4000
1        Üzüm    300             3          900
2       İncir    540            25        13500
3       Armut    780            28        21840
4    Portakal    360            46        16560
5        Elma    420            12         5040
6        Elma    730            14        10220

In [25]:
print(df.groupby('ProductName')['QuantitySold'].sum())

ProductName
Armut       28
Elma        46
Portakal    46
Üzüm         3
İncir       25
Name: QuantitySold, dtype: int64

### Eksik verilerle çalışmak

In [27]:
salesData2 = {
    'ProductName': ['Elma', 'Üzüm', 'İncir', 'Armut', 'Portakal', 'Elma', 'Elma'],
    'Price': [200, 300, 540, None, 360, None, 730],
    'QuantitySold': [20, 3, None, 28, 46, 12, 14]
}

In [28]:
df = pd.DataFrame(salesData2)
print(df.isnull().sum())

ProductName     0
Price           2
QuantitySold    1
dtype: int64

In [34]:
print(df["Price"].fillna(df["Price"].mean(), inplace=True))

None

/var/folders/js/cdwgx9vj0pxfwkx_3pdxqgc80000gn/T/ipykernel_3991/1044603559.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  print(df["Price"].fillna(df["Price"].mean(), inplace=True))

In [33]:
df.dropna(inplace=True)
print(df)

  ProductName  Price  QuantitySold
0        Elma  200.0          20.0
1        Üzüm  300.0           3.0
3       Armut  426.0          28.0
4    Portakal  360.0          46.0
5        Elma  426.0          12.0
6        Elma  730.0          14.0

In [35]:
print(df.sort_values("Price", ascending=True))

  ProductName  Price  QuantitySold
0        Elma  200.0          20.0
1        Üzüm  300.0           3.0
4    Portakal  360.0          46.0
3       Armut  426.0          28.0
5        Elma  426.0          12.0
6        Elma  730.0          14.0

In [ ]:
#df.to_csv("salesDataAnalysis.csv", index=False)